<article
  class="flex flex-col items-start justify-between bg-white rounded-2xl md:rounded-none"
>
  <div class="relative w-full">
    {% if post.thumbnail %}
    <a class="bg-gray-100" href="{{ post.url | relative_url }}">
      <img
        alt="{{ post.title }}"
        src="{{ post.thumbnail | relative_url }}"
        class="aspect-[16/9] w-full object-cover sm:aspect-[2/1] lg:aspect-[3/2] rounded-t-2xl md:rounded-none"
      />
    </a>
    {% endif %}
  </div>
  <div class="max-w-xl p-4">
    <div class="flex items-center gap-x-4 text-sm">
      <time datetime="2020-03-16" class="text-purple-600"
        >{% include date.html date=post.date %}
      </time>
      {% if post.categories %} {% for category in post.categories %} {% include
      category-badge.html %} {% endfor %} {% endif %}
    </div>
    <div class="group relative">
      <h3
        class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
      >
        <a href="{{ post.url | relative_url }}" class="">
          <span class="absolute inset-0"></span>
          {{ post.title }}
        </a>
      </h3>
      <p class="mt-3 line-clamp-3 text-sm leading-6 text-gray-600">
        {{ post.description }}
      </p>
    </div>
  </div>
</article>
