<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta
      name="robot"
      content="index, follow, max-image-preview:large, max-snippet: -1, max-video-preview:-1"
    />
    {% include meta.html %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Handlee&family=Parisienne&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" />
    <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet" />
  </head>
  <body
    class="page {{page.bodyClass}} bg-stone-100 min-h-screen flex flex-col"
    style="font-family: 'Handlee', sans-serif"
  >
    {% include header.html %}
    <div class="lg:max-w-6xl mx-auto md:px-8 lg:px-12 pt-20 md:pt-24">{{content}}</div>
    {% include footer.html %}
    <script
      type="text/javascript"
      src="{{ '/assets/js/shrink-header.js' | relative_url }}"
    ></script>
  </body>
</html>
