---
layout: default
---

{% include heading.html heading=page.heading %}

<main class="pt-14 md:pt-0">
  {% include banner-listen-episode.html %}

  <div class="mx-auto pt-6 max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center pb-6">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Le Blog</h2>
      <p class="text-lg leading-8 text-gray-600">
        Quelques articles liés aux épisodes du podcast
      </p>
    </div>
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-8 pb-8 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      {% for post in site.posts %} {% include summary.html post=post %} {% endfor %}
    </div>
  </div>
</main>
